body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  
}

.header {
  margin-top: 50px;
  text-align: center
}

.body {
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.body div {
  display: inline-block;
  width: 45%
}

.body-img {

}

.body-text {
  margin-left: 50px
}

#photo {
  width: 100%;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  background: transparent;
}

.media {
  text-align: center
}

.media_link {
  height: 60px;
  width: 60px;
}